/*// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}

#map {
        height: 100%;
}

.city_info{
	background: white
}