// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	/*background-image: url("https://c2.staticflickr.com/4/3574/3332598341_195f796b1f.jpg");*/
	background-size: cover;
}

.identify {
	color: #990000;
	text-align: center;
	font-family: 'Nosifer', cursive;
	font-size: 3em;
	padding-top: 9%;
}